<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agent Sign Up</title>
</head>
<body>
    <h1>Agent Sign-up</h1>

    <form method="post">
        {% csrf_token %}
        Agent Name: <input type="text" placeholder="Enter Agent Name" name="name" />
        Agent ID: <input type="number" placeholder="Enter Agent ID" name="id" />
        Agent Password: <input type="password" placeholder="Enter password" name="password" />
        <input type="submit" value="create agent"/>
    </form>

</body>
</html>